.header__wrapper_icon {
  position: relative;
  text-align: center;
  transition: transform 0.2s ease-in;
  cursor: pointer;

  &:hover {
    transition: all 0.2s ease-in;
    transform: scale(1.1);
    filter: saturate(1.3);
  }

  .circle {
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background-color: #ffa542;
  }
  span {
    font-size: 15px;
    color: #fff;
  }
}
